#mainlogo {
  text-align:center;
}

body {
  background-color: white;
}

ul {
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  display: block;
  text-align: center;
}

li {
    float: left;
  color: black;
  font-size: 1em;
  width: 14%;
  text-align: center;
}

li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: underline;
}

li a hover {
  background-color: gray;
}

#ms {
  float: left;
  width: 20%;
  margin-right: 6%;
  margin-left: 5px;
}

#au {
  font-size: 1.2em;
}

#csi {
  font-size: 1.2em;
  float: left;
  width: 40%;
}

#c {
  display: block;
  color: white;
  background-color: black;
  border: 2px solid gold;
  text-align: center;
}

#p {
  display: block;
  color: white;
  background-color: black;
  border: 2px solid gold;
  text-align: center;
}

