#mainlogo {
  text-align:center;
}

body {
  background-color: white;
}

ul {
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  display: block;
  text-align: center;
}

li {
    float: left;
  color: black;
  font-size: 1em;
  width: 14%;
  text-align: center;
}

li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: underline;
}

li a hover {
  background-color: gray;
}

h1 {
  text-align: center;
}
table {
  width: 80%;
  border: 4px solid black;
  border-collapse: collapse;
}

td {
  vertical-align: top;
  border: 2px solid gray;
  padding: 2px;
  text-align: center;
  font-size: 2em;
}

tr {
  height: 25px;
}

thead {
  font-size: 2em;
  border: 2px solid gray;
}

th {
  font-size: 1.2em;
  border: 2px solid gray;
}

#q {
  float: right;
}